<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market place</title>
</head>
<body>
   


    <form action="http://192.168.29.165:8080/receive_data/123" method="POST" class="flex flex-wrap justify-center content-center">


        <div
            class=" rounded-lg hover:border-white w-80 hover:scale-110 border-2 border-black border-solid m-12 bg-blue box-content overflow-hidden">
            <button name="price" type="submit" value="450">
                
                <span class=" text-xl text-white ">MERCHANT</span>
            </button>

        </div>

    </form>
</body>
</html>




